* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  color: #ffffff;
}

window#waybar {
    background: rgba(30, 30, 45, 0.5); /* Dark background with 50% transparency */
    border: none;
    color: #cdd6f4;
}

#workspaces {
    margin-left: 250px;
}

#workspaces button {
    padding: 2px 10px;
    color: #cdd6f4;
    background-color: transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: rgba(205, 214, 244, 0.15); /* Faint hover effect */
}

#workspaces button.active {
    background-color: rgba(205, 214, 244, 0.2); /* A brighter, semi-transparent highlight */
    color: #cdd6f4;           /* Keep the text light */
    font-weight: bold;
}

#tray * {
  color: black;
}

#tray {
 margin-left: 10px;
}

